#root {
  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.movieList {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 2rem;
}

.errorMessage {
  text-align: center;
}
